.header {
  width: 100%;
  height: 80px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  position: relative;
}

.search-component {
  margin: 0 150px;
  width: 570px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.name-component {
  position: absolute;
  right: 0;
  height: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
  // margin-left: auto;
}

.input-but {
  width: 100%;
  display: flex;
}

.input {
  width: 100%;
  height: 22px;
  background-color: #efefef;
  border: none;
  padding-left: 5px;
}

.button-search {
  background-color: #2f80ed;
  border-radius: 0px 4px 4px 0px;
  border: none;
  height: 24px;
  width: 80px;
  color: white;
  transition: .2s;
}

.button-search:hover {
  background-color: #5EA2FF;
  cursor: pointer;
}

.button-search:active {
  background-color: #B1B1B1;
}

.logo-yt {
  height: 50px;
  width: 50px;
}

.setting {
  transition: .2s;

}

.setting:hover {
  cursor: pointer;
}

