<div class="header">
  <div class="header-wrapper">
    <div class="search-component">
      <div class="logo-yt">
        <img src="assets/svg/youtube.svg" alt="youtube" />
      </div>

      <div class="input-but">
        <input type="text" placeholder="Kuji Podcast" class="input" />
        <button class="button-search">search</button>
      </div>

      <div class="setting">
        <img src="assets/svg/setting.svg" alt="setting" />
      </div>
    </div>

    <div class="name-component">
      <div>
        <span>Your name</span>
      </div>
      <img src="assets/svg/logo-user.svg" alt="user" />
    </div>
  </div>
</div>
