<div class="header">
  <div class="header-wrapper">
    <div class="search-component">
      <div class="logo-yt">
        <img src="assets/svg/youtube.svg" alt="youtube" />
      </div>

      <div class="input-but">
        <input type="text" [(ngModel)]="inputValue" (keyup)="onInputChanged()" class="input" />
      </div>

      <button class="setting" (click)="settingShow = !settingShow">
        <img src="assets/svg/setting.svg" alt="setting" />
      </button>
    </div>

    <div class="name-component">
      <div>
        <span>Your name</span>
      </div>
      <img src="assets/svg/logo-user.svg" alt="user" />
    </div>
  </div>
  <button class="logout" *ngIf="(isLoggedIn$ | async)" (click)="logout()">Logout</button>
  <p *ngIf="(isLoggedIn$ | async); else notLoggedIn">You are logged in.</p>
      <ng-template #notLoggedIn><p>You are not logged in.</p></ng-template>
</div>

<div class="sort" *ngIf="settingShow">
  <div class="block">
    <span class="title">Sorting by: </span>
    <span
      class="sort-but"
      (click)="type = 'date'; orderAsc = !orderAsc; sendSort()"
      >date</span
    >
    <span
      class="sort-but"
      (click)="type = 'countOfViews'; orderAsc = !orderAsc; sendSort()"
      >count of view</span
    >
    <span>by word or sentance</span>
    <input type="text" class="input-sort" [(ngModel)]="term" (ngModelChange)="sendSort()" />
  </div>
</div>
