.item {
  width: 263px;
  height: 322px;
  background-color: #e5e5e5;
  border-radius: 5px;
  border-bottom: 5px solid #2f80ed;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.image {
  height: 123px;
  width: 223px;
  margin: 20px auto 0;
}

.icons {
  height: 13px;
  width: 223px;
  margin: 21px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
}

.watch span,
.like span,
.dislike span,
.cards span {
  margin-left: 5px;
}

.watch, .like, .dislike, .cards {
  display: flex;
  align-items: center;
}

.title {
  height: 50px;
  width: 223px;
  margin: 0 auto 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  text-align: right;

  color: #4f4f4f;
}

.more {
  display: flex;
  width: 223px;
  margin: 21px auto 0;
}

.but-more {
  height: 32px;
  width: 120px;
  margin: 5px auto;
  background: #2f80ed;
  border-radius: 5px;
  border: none;
  color: white;
  transition: .2s;
}

.but-more:hover {
  background-color: #5EA2FF;
  cursor: pointer;
}

.but-more:active {
  background-color: #B1B1B1;
}

