<div class="modal-wrapper">
  <div class="back">
    <span><</span>
  </div>
  <div class="modal-description">
    <div class="image">
    </div>
    <div class="details">
      <div class="header-modal">
        <div class="title">
          Kuji Podcast #20
        </div>
        <div class="date">
          Thursday, May 20, 2019
        </div>
      </div>

      <div class="description">
        <p class="desc-title">Description:</p>
        <span class="desc">Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом Сабуровым обсуждают окончание 2018 года: бой Хабиба с МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и подарки для близких. </span>
      </div>

        <div class="icons">
          <div class="watch">
            <div>
              <img src="assets/svg/watch.svg" alt="watch" />
            </div>
            <div>
              <span>55</span>
            </div>
          </div>
          <div class="like">
            <img src="assets/svg/like.svg" alt="like" />
            <span>12</span>
          </div>
          <div class="dislike">
            <img src="assets/svg/dislike.svg" alt="dislike" />
            <span>11</span>
          </div>
          <div class="cards">
            <img src="assets/svg/cards.svg" alt="cards" />
            <span>112</span>
          </div>
    </div>
  </div>
</div>
